<a href="https://colab.research.google.com/github/sakship1920/Machine-Learning/blob/main/livearpatient.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('/content/dataset-41-2_indian_liver_patient - dataset-41-2_indian_liver_patient.csv')
df.head()

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65  Female              0.7  ...      3.3                        0.90        1
1   62    Male             10.9  ...      3.2                        0.74        1
2   62    Male              7.3  ...      3.3                        0.89        1
3   58    Male              1.0  ...      3.4                        1.00        1
4   72    Male              3.9  ...      2.4                        0.40        1

[5 rows x 11 columns]

In [3]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [4]:
df['Albumin_and_Globulin_Ratio']=df['Albumin_and_Globulin_Ratio'].fillna(df['Albumin_and_Globulin_Ratio'].median())

In [5]:
df.describe()

              Age  Total_Bilirubin  ...  Albumin_and_Globulin_Ratio     Dataset
count  583.000000       583.000000  ...                  583.000000  583.000000
mean    44.746141         3.298799  ...                    0.946947    1.286449
std     16.189833         6.209522  ...                    0.318495    0.452490
min      4.000000         0.400000  ...                    0.300000    1.000000
25%     33.000000         0.800000  ...                    0.700000    1.000000
50%     45.000000         1.000000  ...                    0.930000    1.000000
75%     58.000000         2.600000  ...                    1.100000    2.000000
max     90.000000        75.000000  ...                    2.800000    2.000000

[8 rows x 10 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder
var = ['Gender']
le = LabelEncoder()
for i in var:
    df[i] = le.fit_transform(df[i])

In [7]:
df.head()

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65       0              0.7  ...      3.3                        0.90        1
1   62       1             10.9  ...      3.2                        0.74        1
2   62       1              7.3  ...      3.3                        0.89        1
3   58       1              1.0  ...      3.4                        1.00        1
4   72       1              3.9  ...      2.4                        0.40        1

[5 rows x 11 columns]

In [8]:
X = df.drop("Dataset",axis=1)
y = df["Dataset"]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler #apply standard scalar for data normalization
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [11]:
from sklearn.neighbors import KNeighborsClassifier
my_model = KNeighborsClassifier(n_neighbors = 5)
result = my_model.fit(X_train,y_train)

In [12]:
predictions = result.predict(X_test)

In [13]:
predictions

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 2, 1, 2,
       1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 2, 2,
       1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       2, 1, 1, 1, 1, 2, 1])

In [14]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.6495726495726496

In [15]:
from sklearn.metrics import confusion_matrix
cf=confusion_matrix(y_test,predictions)
print(cf)

[[64 14]
 [27 12]]

In [16]:
pred_new=result.predict([[16,0,0.11,0.18,120,2,18,6.8,50.3,0.1]])
pred_new

array([1])