<a href="https://colab.research.google.com/github/sakship1920/Machine-Learning/blob/main/mobileprice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
  import pandas as pd
  import numpy as np
  import matplotlib.pyplot as mlt
  import seaborn as sns
  from sklearn.model_selection import train_test_split,cross_val_score
  from sklearn.metrics import accuracy_score,roc_auc_score,roc_curve
  %matplotlib inline
  import warnings
  warnings.filterwarnings("ignore",category=DeprecationWarning)

In [2]:
df=pd.read_csv('/content/dataset-35-1-mobile - dataset-35-1-mobile.csv')
df.head()

   battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0            842     0          2.2  ...             0     1            1
1           1021     1          0.5  ...             1     0            2
2            563     1          0.5  ...             1     0            2
3            615     1          2.5  ...             0     0            2
4           1821     1          1.2  ...             1     0            1

[5 rows x 21 columns]

In [3]:
X= df.drop('price_range',axis=1)
y=df['price_range']

In [4]:

X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=44)

In [5]:
from sklearn.tree import DecisionTreeClassifier
my_model = DecisionTreeClassifier()
result= my_model.fit(X_train,y_train)

In [6]:
predictions= result.predict(X_test)
predictions

array([3, 2, 3, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 3, 1, 3, 1, 0, 1, 2, 3,
       3, 1, 0, 0, 1, 1, 2, 2, 3, 2, 1, 1, 1, 2, 2, 2, 1, 0, 2, 2, 2, 3,
       2, 3, 1, 0, 0, 1, 0, 1, 3, 1, 0, 0, 1, 2, 2, 3, 1, 1, 3, 2, 2, 0,
       2, 0, 2, 1, 0, 1, 0, 0, 0, 0, 0, 2, 2, 1, 3, 1, 0, 3, 1, 3, 3, 1,
       2, 2, 2, 0, 2, 2, 0, 0, 1, 1, 1, 1, 1, 3, 1, 3, 1, 0, 1, 0, 0, 3,
       3, 2, 3, 3, 0, 0, 2, 1, 2, 2, 3, 2, 1, 1, 1, 1, 0, 0, 1, 2, 2, 2,
       2, 2, 1, 3, 1, 2, 3, 1, 3, 0, 2, 0, 0, 3, 0, 3, 1, 3, 3, 3, 2, 2,
       3, 3, 0, 1, 0, 1, 3, 1, 2, 0, 3, 2, 2, 2, 3, 2, 0, 0, 3, 2, 2, 2,
       3, 3, 0, 1, 1, 2, 0, 0, 3, 1, 0, 0, 3, 3, 1, 0, 1, 0, 1, 2, 1, 1,
       3, 1, 0, 3, 1, 3, 1, 0, 1, 2, 0, 3, 2, 2, 2, 0, 2, 1, 3, 0, 0, 0,
       3, 3, 1, 3, 0, 0, 0, 3, 3, 0, 0, 3, 2, 0, 1, 1, 2, 2, 3, 0, 0, 3,
       1, 0, 2, 2, 2, 0, 0, 3, 2, 0, 2, 2, 0, 0, 3, 1, 0, 0, 2, 3, 3, 3,
       0, 3, 2, 3, 2, 0, 3, 0, 0, 1, 1, 3, 3, 2, 3, 0, 3, 3, 0, 2, 2, 3,
       3, 2, 1, 1, 1, 3, 1, 0, 2, 2, 3, 0, 3, 0, 1, 0, 0, 3, 0, 3, 0, 3,
       2, 2, 0, 0, 3, 1, 0, 3, 2, 1, 0, 3, 0, 1, 3, 3, 0, 3, 1, 1, 2, 1,
       1, 2, 1, 2, 3, 0, 3, 1, 2, 1, 0, 0, 2, 0, 1, 3, 2, 2, 1, 0, 2, 3,
       2, 3, 3, 2, 1, 0, 2, 3, 1, 2, 0, 1, 1, 1, 2, 0, 3, 3, 0, 0, 0, 1,
       1, 3, 2, 0, 3, 3, 2, 3, 3, 0, 1, 1, 1, 3, 3, 1, 0, 1, 3, 1, 3, 3,
       0, 0, 0, 2])

In [7]:
from sklearn.metrics import mean_absolute_error,accuracy_score
mean_absolute_error(y_test,predictions)

0.16

In [8]:
accuracy_score(y_test,predictions)

0.84

In [9]:
from sklearn.metrics import classification_report
matrix= classification_report(y_test,predictions,labels=[1,0])
matrix

'              precision    recall  f1-score   support\n\n           1       0.80      0.79      0.79        99\n           0       0.87      0.91      0.89       106\n\n   micro avg       0.84      0.85      0.84       205\n   macro avg       0.83      0.85      0.84       205\nweighted avg       0.84      0.85      0.84       205\n'

In [10]:
from sklearn.metrics import confusion_matrix
confusion_mat= confusion_matrix(y_test,predictions)
confusion_mat

array([[96, 10,  0,  0],
       [14, 78,  7,  0],
       [ 0, 10, 75, 14],
       [ 0,  0,  9, 87]])

In [11]:
confusion_df=pd.DataFrame(confusion_mat,index=['Actual Label 0','Actual Label 1','Actual Label 2','Actual Label 3'], columns=['Predicted Label 0','Predicted Label 1','Predicted Label 2','Predicted Label 3'])
confusion_df

                Predicted Label 0  ...  Predicted Label 3
Actual Label 0                 96  ...                  0
Actual Label 1                 14  ...                  0
Actual Label 2                  0  ...                 14
Actual Label 3                  0  ...                 87

[4 rows x 4 columns]

In [12]:
from sklearn import metrics
print('\n**Classification Report:\n',metrics.classification_report(y_test,predictions))

**Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.91      0.89       106
           1       0.80      0.79      0.79        99
           2       0.82      0.76      0.79        99
           3       0.86      0.91      0.88        96

    accuracy                           0.84       400
   macro avg       0.84      0.84      0.84       400
weighted avg       0.84      0.84      0.84       400

In [13]:
pred_new=list(result.predict([[842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1]]))
pred_new

[1]

In [14]:
pred_new=list(result.predict([[1821,0,1.7,4,1,10,0.8,139,8,10,381,1018,3220,13,8,18,1,0,1,1]]))
pred_new

[0]