<a href="https://colab.research.google.com/github/sakship1920/Machine-Learning/blob/main/Zoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,accuracy_score
%matplotlib inline

import warnings
warnings.filterwarnings('ignore',category=DeprecationWarning)

In [2]:
df= pd.read_csv('/content/dataset-35-2-zoo - dataset-35-2-zoo.csv')
df

    animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0      aardvark     1         0     0  ...     0         0        1           1
1      antelope     1         0     0  ...     1         0        1           1
2          bass     0         0     1  ...     1         0        0           4
3          bear     1         0     0  ...     0         0        1           1
4          boar     1         0     0  ...     1         0        1           1
..          ...   ...       ...   ...  ...   ...       ...      ...         ...
96      wallaby     1         0     0  ...     1         0        1           1
97         wasp     1         0     1  ...     0         0        0           6
98         wolf     1         0     0  ...     1         0        1           1
99         worm     0         0     1  ...     0         0        0           7
100        wren     0         1     1  ...     1         0        0           2

[101 rows x 18 columns]

In [3]:
df.isnull().sum()

animal_name    0
hair           0
feathers       0
eggs           0
milk           0
airborne       0
aquatic        0
predator       0
toothed        0
backbone       0
breathes       0
venomous       0
fins           0
legs           0
tail           0
domestic       0
catsize        0
class_type     0
dtype: int64

In [4]:
X= df.drop('class_type',axis=1)
y=df['class_type']

In [5]:
from sklearn.preprocessing import LabelEncoder
coder= LabelEncoder()
for i in X.columns:
  X[i]=coder.fit_transform(X[i])
cod= LabelEncoder()
y= cod.fit_transform(y)

In [6]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=99)

In [7]:
from sklearn.tree import DecisionTreeClassifier
my_model= DecisionTreeClassifier(random_state=0)
result = my_model.fit(X_train,y_train)

In [8]:
predictions= result.predict(X_test)
predictions

array([6, 3, 5, 1, 1, 6, 3, 3, 0, 3, 0, 2, 0, 3, 1, 1, 0, 3, 0, 5, 0])

In [9]:
from sklearn.metrics import mean_absolute_error,accuracy_score
mean_absolute_error(y_test, predictions)

0.0

In [10]:
accuracy_score(y_test,predictions)

1.0

In [11]:
from sklearn.metrics import confusion_matrix
confusion_mat=confusion_matrix(y_test,predictions)
confusion_mat

array([[6, 0, 0, 0, 0, 0],
       [0, 4, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 6, 0, 0],
       [0, 0, 0, 0, 2, 0],
       [0, 0, 0, 0, 0, 2]])

In [12]:
confusion_df=pd.DataFrame(confusion_mat,index=['Actual 0','Actual 1','Actual 2','Actual 3','Actual 4','Actual 5'],columns=['Predicted 0','Predicted 1','Predicted 2','Predicted 3','Predicted 4','Predicted 5'])

confusion_df

          Predicted 0  Predicted 1  ...  Predicted 4  Predicted 5
Actual 0            6            0  ...            0            0
Actual 1            0            4  ...            0            0
Actual 2            0            0  ...            0            0
Actual 3            0            0  ...            0            0
Actual 4            0            0  ...            2            0
Actual 5            0            0  ...            0            2

[6 rows x 6 columns]

In [13]:
from sklearn import metrics
print('\n**Classification Report:\n',metrics.classification_report(y_test,predictions))

**Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         6
           1       1.00      1.00      1.00         4
           2       1.00      1.00      1.00         1
           3       1.00      1.00      1.00         6
           5       1.00      1.00      1.00         2
           6       1.00      1.00      1.00         2

    accuracy                           1.00        21
   macro avg       1.00      1.00      1.00        21
weighted avg       1.00      1.00      1.00        21

In [14]:
pred_new=list(result.predict([[0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,1]]))
pred_new

[1]